<div class="row">
    <div class="col-md-5">
        <h5>CUSTOMERS:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-outline-secondary btn-sm btn-block" href="">Create Customer</a>
            <table class="table table-sm">
                <tr>         
                    <th>Customer</th>
                    <th>Orders</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <H5>LAST 5 ORDERS</H5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-outline-secondary btn-sm btn-block" href="">Create Order</a>
            <table class="table table-sm">
                <tr>         
                    <th>Products</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
            </table>
        </div>        
    </div>
</div>